
:root {
  --pan-color: #090;

  --pan-layout-left-width: 100vw;
  --pan-layout-left-left: calc(var(--pan-layout-left-width) * -1);
  --pan-layout-left-background-color: rgba(0, 122, 204, .8);
  --pan-layout-left-background-image: url(/static/left-background.png);
  --pan-layout-left-top-height: 100px;
  --pan-layout-left-bottom-height: 70px;
  --pan-layout-left-middle-border: 1px solid rgba(255, 255, 255, .3);
  --pan-layout-left-close-btn-display: block;

  --pan-layout-right-left: 0px;
  --pan-layout-right-right: 0px;

  --pan-layout-header-height: 50px;
  --pan-layout-footer-height: 30px;

  --pan-menutoggle-display: block;
  --pan-overlay-display: none;
}


@media (min-width: pan-device(sm)) {
  :root {
    --pan-layout-left-width: 250px;
    --pan-layout-left-close-btn-display: none;
  }
}


@media (min-width: pan-device(md)) {
  :root {
    --pan-layout-left-left: 0px;

    --pan-layout-right-left: var(--pan-layout-left-width);

    --pan-menutoggle-display: none;
  }
}

