{% extends "site_base.html" %}

{% block head_title %}Site Cost Breakdown{% endblock %}

{% block content %}
<h1>Cost Analysis</h1>
<p>The $1300 per year figure on the front page is based on the following real and forecast data.</p>
<p>This site is delivered by a <a href="https://kubernetes.io/">Kubernetes Cluster</a> hosted by <a href="https://aws.amazon.com/">AWS</a>. The static files (e.g. the videos) are served from an <a href="https://aws.amazon.com/s3/">S3 bucket</a>. Where possible I purchase reservations to cover the resource usage within AWS; this helps to minimize the price. For simplicity I use AWS services where possible so that all resources can be managed from a single place; as such small items cost slightly more than they might when purchased from a service dedicated to that offering. For example, domain registration (paying for and claiming the <tt>tutorpaul.com</tt> address) might only cost $9 per year when purchased from the cheapest source; registration through <a href="https://aws.amazon.com/route53/">AWS Route 53</a> costs $12 per year.</p>

<p>Savvy readers will note that this site is quite small for a Kubernetes cluster; they're right. I use Kubernetes because I like it, and I use the excess capacity on the cluster for other projects. This site is the long pole in the tent&mdash;the cluster primarily exists to deliver <tt>tutorpaul.com</tt>. The costs in the table below that represent potentially shared resources are marked.</p>

<table style="border: 1px solid #000;">
    <thead>
        <tr>
            <th>Provider</th>
            <th>Service</th>
            <th>Terms</th>
            <th>Cost</th>
            <th>Annual Price</th>
            <th>Notes</th>
        <tr>
    </thead>
    <tbody  style="border-top: 1px solid #000">
        <tr>
            <td>AWS</td>
            <td>Route 53</td>
            <td>Annual + Monthly</td>
            <td>$12 + $1/month</td>
            <td align="right">$24.00</td>
            <td><small>Domain registration + DNS for <tt>tutorpaul.com</tt></small></td>
        </tr>
        <tr>
            <td>AWS</td>
            <td>S3</td>
            <td><a href="https://aws.amazon.com/s3/pricing/">It's complicated</a></td>
            <td>Transfer: ~150 GB monthly = $5</td>
            <td align="right">$60</td>
            <td><small>File storage and transfer. Cost estimated based upon past usage.</small></td>
        </tr>
        <tr>
            <td>AWS</td>
            <td>EKS</td>
            <td>Hourly</td>
            <td>$0.10/hr = ~$74/month</td>
            <td align="right">$888</td>
            <td><small>Kubernetes Cluster management. Shared resource.</small></td>
        </tr>
        <tr>
            <td>AWS</td>
            <td>RDS</td>
            <td>3 Year</td>
            <td>$224</td>
            <td align="right">$74.67</td>
            <td><small>Managed database service; three year reservation for instance.</small></td>
        </tr>
        <tr>
            <td>AWS</td>
            <td>EC2</td>
            <td>3 Year</td>
            <td>$822</td>
            <td align="right">$274.00</td>
            <td><small>Compute power for cluster. Shared resource.</small></td>
        </tr>
        <tr>
            <td colspan="4" align="right"><em>Total</em></td>
            <td align="right">$1320.67</td>
            <td><small>Annually, with 3 year reservations</small></td>
        </tr>
    </tbody>
</table>

<p>The costs on the table above are a snapshot in time. The cost of compute resources is variable. This page will be updated whenever new reservations are purchased to reflect a reasonably current price; or whenever I notice a problem in the accounting.</p>
{% endblock %}