{% extends "site_base.html" %}

{% block head_title %}Support this site!{% endblock %}


{% block scripts %}
  {% include "_scripts.html" %}
{% endblock %}

{% block content %}
<h1>Thank you!</h1>

<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
  <div class="paypal-donations">
    <ul>
      <li>Tell me why you're donating today (optional): <textarea id="donation-comment" name="comment"></textarea></li>
      <li>Would you prefer this donation remain private? <input id="donation-private" type="checkbox" name="private" /></li>
    </ul>
    <p><small>Donation notes are moderated for content and may be redacted or not be displayed at the moderator's discretion. No refunds will be provided based upon content moderation choices.</small></p>
    <input type="hidden" name="cmd" value="_donations" />
    <input type="hidden" name="business" value="paul@thismatters.net" />
    <input type="hidden" name="notify_url" value="{{ BASE_URL }}{% url 'paypal-ipn' %}" />
    <input type="hidden" name="return" value="{{ BASE_URL }}{% url 'donations:complete' %}" />
    <input type="hidden" name="cancel_return" value="{{ BASE_URL }}{% url 'donations:cancel' %}" />
    <input type="hidden" name="rm" value="0" />
    <input type="hidden" name="currency_code" value="USD" />
    <input type="image" src="https://www.paypal.com/en_US/i/btn/btn_donate_LG.gif" name="submit" alt="PayPal - The safer, easier way to pay online." />
    <img alt="" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
  </div>
</form>

{% if donations %}
  <h2>Thank you to my supporters!</h2>
  <div class="donations-recieved">
    {% for donation in donations %}
      <div class="donation-recieved">
        <h3>{{ donation.created|date:"M Y"}}&mdash;{% if donation.private %}Anonymous{% else %}{{ donation.user }}{% endif %} gives {{ donation.amount }} and says:</h3>
        <p>{{ donation.moderated_comment }}</p>
      </div>
    {% endfor %}
  </div>
{% endif %}
{% endblock %}


{% block page_scripts %}
<script>
$( "form" ).submit(function(event) {
  {% include "_csrftoken.html" %}
  var post_data = {
    "comment": $("#donation-comment").val(),
    "private": $("#donation-private").is(":checked")
  };
  // post the donation comment to the the endpoint
  $.ajax({
    type: "POST",
    url: "{% url 'donations-api:donation-list' %}",
    data: post_data,
    beforeSend: function(request) {request.setRequestHeader('X-CSRFToken', csrftoken);},
    // retrieve the pk from the created donation record it in the name="custom" input
    success: function(data) {
      var custom_input = '<input type="hidden" name="custom" value="'+data.pk+'" />';
      $('form').append(custom_input);
    },
    async: false
  })
  // post the paypal form
});
</script>

{% endblock %}
