{% extends "site_base.html" %}

{% block content %}
<h1>No, You're the best!</h1>

<p>Thank you for contributing! Payment processing is fast but not immediate, it may take a few moments for your donation to appear in the thermometer.</p>

{% endblock %}
