.comments {
  width: 60%;
  min-width: 200px;
  > * textarea {
    width: 100%;
    height: 80px;
  }
  .comment-control {
    text-align: right;
  }
  .preview-comment {
    text-align: left;
    border: 1px solid #D0D0D0;
    margin: 2px 5px;
    display: none;
    > p {
      margin-block-start: 0.25em;
      margin-block-end: 0.25em;
      margin-inline-start: 5px;
      margin-inline-end: 5px;
    }
  }
  .comment {
    padding-left: 2px;
    border-left: 2px solid black;
  }
  .comment.reply {
    margin-bottom: 0px;
    padding-bottom: 5px;
    padding-top: 0px;
    margin-top: 0px;
  }
}
