.pan-layout-footer {
  position: absolute;
  bottom: 12px;
  left: 0px;
  right: 0px;
  height: var(--pan-layout-footer-height);
  background-color: #FFF;
  border-top: 1px solid #CCC;
  font-size: .75rem;
  text-align: right;
  z-index: 5;

  &__content {
    padding: 0 10px;
    display: inline-flex;
    justify-content: space-between;
    width: 100%;

    > .left {
      text-align: left;
      line-height: 20px;
      padding-right: 10px;
      left: 0px;
      flex: 1;
      width: 75%;
    }
    > .right {
      line-height: 20px;
      padding-right: 10px;
      left: 0px;
      width: 250px;
    }

  }

}
