$header-height: var(--pan-layout-header-height);
$thermometer-height: 30px;
$thermometer-fill-color: #00A661;
$thermometer-empty-color: #B7B5B5;

.pan-layout-header {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  height: $header-height;
  background-color: #FFF;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, .5);
  z-index: 10;

  > * {
    position: absolute;
    top: 0px;
    bottom: 0px;

    > * {
      @include v-center;
    }
  }

  &__content {
    left: 0px;
    width: 100%;
    height: $header-height;
    text-align: center;
    align-items: center;
    display: inline-flex;
    @include v-center;
  }

  &__menutoggle {
    display: var(--pan-menutoggle-display);
    flex-grow: 0;
    cursor: pointer;
    width: 50px;
    padding: auto 0px;
    border-right: 1px solid #F0F0F0;
    text-align: center;
    line-height: $header-height;
    @include v-center;
  }

  &__donations {
    flex-grow: 1;
    height: $header-height;
    text-align: center;
    > .thermometer {
      > a, a:link, a:visited {
        color: #FFFFFF;
      }
      width: 98%;
      height: $thermometer-height;
      left: 10px;
      top: 10px;
      box-shadow: inset 0px 2px 5px 0px rgba(0,0,0,0.34);
      background-color: $thermometer-empty-color;
      position: relative;
      > .fill {
        background-color: $thermometer-fill-color;
        margin: 0;
        height: $thermometer-height;
      }

      > span {
        position: absolute;
        top: 0;
        left: 10px;
        z-index: 100;
        margin-bottom: 2px;
        line-height: $thermometer-height;
      }
    }
  }

  &__avatar {
    flex-grow: 0;
    text-align: right;
    padding: auto 0px;
    padding-right: 10px;
    line-height: $header-height;
    @include v-center;

    > * {
      // float: right;
      margin-left: 10px;
    }

    img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      vertical-align: middle;
    }
  }
}
