.messages {
    position: absolute;
    display: inline-flex;
    justify-content: space-between;
    top: 10px;
    left: 10%;
    width: 80%;
    z-index: 10000000;
    background: #FFA7A7;
    border: 2px solid #FF3131;
    border-radius: 15px;
    > .messages-proper {
        flex: 1;
        > ul {
            list-style-type: none;
        }
    }
    > .messages-dismiss {
        padding-right: 10px;
        margin: auto;
        flex: 0;
    }
}
