.video {
  .video-controls {
    position: relative;
    // margin: 1em;
    overflow: hidden;
    font-size: 10px;
    ul {
      padding: 0px;
      margin-top: 0px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
      margin-left: -0.25em;
      list-style-type: none;
      > li {
        flex-grow: 0;
        flex-basis: auto;
        margin: 0;
        padding: 0 0.25em;
        text-align: center;
        border-left: 1px solid #ccc;
      }
      > li:first-child {
        border-left: none;
      }
    }
  }
}