body.problem {
  .supplements {
    > .worksheet {
      border: 1px solid #D0D0D0;
      > img {
        width: 100%;
      }
    }
    .supplement-picker {
      position: relative;
      margin: 1em;
      overflow: hidden;
      > ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-left: -1em;
        list-style: none;
        > li {
          flex-grow: 0;
          flex-basis: auto;
          margin: .25em 0;
          padding: 0 1em;
          text-align: center;
          border-left: 1px solid #ccc;
        }
        > li:first-child {
          border-left: none;
        }
      }

    }
  }
}
