<div class="pan-layout-header__content">
  <div class="pan-layout-header__menutoggle">
    <i class="fas fa-bars"></i>
  </div>
  <div class="pan-layout-header__donations">
    <div class="thermometer">
      <div class="fill" style="width: {{ campaign_percent_complete }}%"></div>
      <span><a href="{% url 'donations:start' %}">Please Donate!</a></span>
    </div>
  </div>
  <div class="pan-layout-header__avatar">
    {% if request.user.is_authenticated %}
      <span><a class="button" href="{% url 'account:profile' %}"><i class="fas fa-user"></i> {{ request.user }}</a></span>
      <span><a class="logout button" href="{% url 'account:logout' %}">Log out</a></span>
    {% else %}
      <span><a class="login button" href="{{ LOGIN_URL }}">Log in</a></span>
    {% endif %}
  </div>
</div>
