{% if messages %}
  <div class="messages">
    <div class="messages-proper">
      <ul>
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
      </ul>
    </div>
    <div id="messages-dismiss" class="messages-dismiss">
      <i class="fa fa-window-close" aria-hidden="true"></i>
    </div>
  </div>
{% endif %}