{% load static %}

<script type="text/javascript" src="{% static 'jquery-3.4.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'jquery-migrate-3.0.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'panthera-jekyll.js' %}"></script>
<script type="text/javascript">
$("#messages-dismiss").click(function(e) {
  // dismiss the messages
  $(".messages").css("display", "none")
});
</script>