{% extends "site_base.html" %}
{% load static %}
{% block content %}
    <img src="{% static 'tutorpaul_headshot.jpeg' %}" alt="my pretty mug" />
    <p>Howdy, I'm Paul! I am a former student of Texas A&amp;M, classes of 2005 and 2009! I was fortunate to be selected as a Teachers Assistant for MEEN 363 as a first year graduate student; I held that position 4 semesters eventually working for 3 professors and working with hundreds of dynamics students. During that time I was able to do what I was never able to do as an undergraduate&mdash;master dynamics and vibrations!</p>
    <p>After completing my time as a TA I picked up tutoring for 363 and 364 as a means to supplement my income as a research assistant, and after graduating I transitioned to tutoring as my full time hustle. My students supported me financially for nearly a decade while affording me a tremendous amount of freedom to pursue other interests. Leaving that freedom and support was a very difficult choice for me.</p>
    <p>When I finally did leave A&amp;M and College Station I wanted to leave something behind in recognition of my time there and of the students who helped me to refine the techniques needed to understand dynamics; this site and the content within are my meditation in gratitude and my gift to future Aggie Engineers! I hope that it can inspire you to carry forward a spirit of gratitude for those who came before you and those who paved the path that led you where you are.</p>
    <p>Cheers!</p>
{% endblock %}
