{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <!--
__/\\\\\\\\\\\\\\\__________________________________________________________/\\\\\\\\\\\\\_________________________________/\\\\\\____
 _\///////\\\/////__________________________________________________________\/\\\/////////\\\______________________________\////\\\____
  _______\/\\\_________________________/\\\__________________________________\/\\\_______\/\\\_________________________________\/\\\____
   _______\/\\\________/\\\____/\\\__/\\\\\\\\\\\_____/\\\\\_____/\\/\\\\\\\__\/\\\\\\\\\\\\\/___/\\\\\\\\\_____/\\\____/\\\____\/\\\____
    _______\/\\\_______\/\\\___\/\\\_\////\\\////____/\\\///\\\__\/\\\/////\\\_\/\\\/////////____\////////\\\___\/\\\___\/\\\____\/\\\____
     _______\/\\\_______\/\\\___\/\\\____\/\\\_______/\\\__\//\\\_\/\\\___\///__\/\\\_______________/\\\\\\\\\\__\/\\\___\/\\\____\/\\\____
      _______\/\\\_______\/\\\___\/\\\____\/\\\_/\\__\//\\\__/\\\__\/\\\_________\/\\\______________/\\\/////\\\__\/\\\___\/\\\____\/\\\____
       _______\/\\\_______\//\\\\\\\\\_____\//\\\\\____\///\\\\\/___\/\\\_________\/\\\_____________\//\\\\\\\\/\\_\//\\\\\\\\\___/\\\\\\\\\_
        _______\///_________\/////////_______\/////_______\/////_____\///__________\///_______________\////////\//___\/////////___\/////////__
    -->

    <title>{% block head_title_base %}{% if SITE_NAME %}{{ SITE_NAME }} | {% endif %}{% block head_title %}{% endblock %}{% endblock %}</title>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    {% block styles %}
      {% block page_styles %}{% endblock %}
      {% include "_styles.html" %}
    {% endblock %}
    {% block scripts %}{% endblock %}
  </head>
  <body class="{% block body_class %}{% endblock %}">
    {% block entire_body %}
      {% block notification %}{% include "_messages.html" %}{% endblock %}
      <section class="pan-layout">
        <section class="pan-layout-left">
          {% block sidebar %}
            <div class="pan-layout-left__top">
              <div class="pan-layout-left__info">
                <h1 class="pan-layout-left__title">{{ SITE_NAME }}</h1>
                <h3 class="pan-layout-left__subtitle">Dynamics and Vibrations Solutions</h3>
              </div>
            </div>
            <div class="pan-layout-left__middle">
              {# make template tags for displaying concepts, similar, and next problems #}
              {% block sidebar_main %}
                <div>
                  <h2>MEEN 363</h2>
                  <ul>
                    <li><a class="view-list" href="{% url 'solutions:problem_index' 'childs-11' %}">Textbook Solutions</a></li>
                    <li><a class="view-list" href="{% url 'solutions:concepts' %}">Concepts</a></li>
                    <li><a class="view-list" href="{% url 'solutions:course_streams' 'meen363' %}">Past Streams</a></li>
                  </ul>
                </div>
                <div>
                  <h2>MEEN 364</h2>
                  <ul>
                    <li><a class="view-list" href="{% static 'TutorPaul-MEEN364_Notes-12.pdf' %}" download>Download 364 Notes</a></li>
                    <li><a class="view-list" href="{% url 'solutions:course_streams' 'meen364' %}">Past Streams</a></li>
                  </ul>
                </div>
                <div>
                  <h2>MEEN 368</h2>
                  <ul>
                    <li><a class="view-list" href="{% url 'solutions:course_streams' 'meen368' %}">Past Streams</a></li>
                  </ul>
                </div>
              {% endblock %}
            </div>
            <div class="pan-layout-left__bottom">
              <div class="pan-layout-left__small">
                <span>GET IN TOUCH</span>
              </div>
              <div class="pan-layout-left__social">
                <ul>
                  <li><a target="_blank" href="https://www.twitch.tv/tutorpaul"><i class="fab fa-twitch"></i></a></li>
                  <li><a target="_blank" href="{{ DISCORD_LINK }}"><i class="fab fa-discord"></i></a></li>
                  <li><a target="_blank" href="https://github.com/thismatters"><i class="fab fa-github-square"></i></a></li>
                  <li><a target="_blank" href="https://www.linkedin.com/in/paul-stiverson-4a505a60/"><i class="fab fa-linkedin"></i></a></li>
                  <li><a href="{% url 'contact' %}"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
                </ul>
              </div>
            </div>
            <div class="pan-layout-left__close">
              <i class="fa fa-fw fa-times"></i>
            </div>
          {% endblock %}
        </section>
        <section class="pan-layout-overlay"></section>
        <section class="pan-layout-right">
          {% block main %}
            <section class="pan-layout-header">
              {% block header %}
                {% include "_header.html" %}
              {% endblock %}
            </section>
            <section class="pan-layout-content">
              {% block content %}
                <h1>This video and stuff</h1>
                <div>
                  video
                </div>
                <p>stuff</p>
                <p>comments</p>
              {% endblock %}
            </section>
            <section class="pan-layout-footer">
              {% block footer %}
                <div class="pan-layout-footer__content">
                  <div class="left">
                    {% block license %}
                    {% endblock %}
                  </div>
                  <div class="right">
                    <span>Theme adapted from <a target="_blank" href="https://github.com/christianezeani/panthera-jekyll">Panthera-Jekyll</a>.</span>
                  </div>
                </div>
              {% endblock %}
            </section>
          {% endblock %}
        </section>
      </section>
    {% endblock %}
    {% include "_scripts.html" %}
    {% block page_scripts %}{% endblock %}
  </body>
</html>
