{% extends "base.html" %}
{% load static %}

{% block page_styles %}
  <style type="text/css">
    .comment{
      padding-left: 2px;
      border-left: 2px solid black;
     }
    .comment.reply{
      margin-bottom: 0px;
      padding-bottom: 5px;
      padding-top: 0px;
      margin-top: 0px;
    }
  </style>
{% endblock %}

{% block additional_sections %}
  <section class="comments">
    <h2>Comments</h2>
    <div>
      <textarea name="comment" id="reply-to-{{ element_type }}-{{ element.pk }}" class="initial-value">Enter your comment here!</textarea>
      <button class="comment-preview" id="preview-reply-to-{{ element_type }}-{{ element.pk }}">Preview</button><button class="comment-submit" id="submit-reply-to-{{ element_type }}-{{ element.pk }}">Submit</button>
      <div name="preview-comment" id="reply-preview-to-{{ element_type }}-{{ element.pk }}"></div>
    </div>
    <div id="existing-comments">
    </div>
  </section>
  <div style="display: none;">
  </div>
{% endblock %}

{% block license %}
  {% include "_license.html" %}
{% endblock %}

{% block scripts %}
  <script src="{% static 'polyfill.min.js' %}"></script>
  <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
  <script src="{% static 'marked.min.js' %}"></script>
{% endblock %}

{% block page_scripts %}
  <script type="text/javascript">
    // process comments here
    function insert_comment(comment_data, parent_element, do_mathjax) {
      var raw = comment_data.comment;
      var preprocessed = raw.replace(/\\([\(\[\)\]])/g, '\\\\$1');
      var comment = marked(preprocessed);
      var new_comment = '<div class="comment" id="comment-'+comment_data.pk+'"><p>'+comment+'</p>By <span class="author">'+comment_data.user_name+'</span> at <span class="created">'+comment_data.created+'</span> &mdash; <span class="reply-button">Reply</span><div class="replies"></div></div>';
      parent_element.append(new_comment);
      for (let reply of comment_data.replies) {
        insert_comment(reply, $(parent_element).find("div#comment-"+comment_data.pk+" > .replies"), false);
      }
      if (do_mathjax) {
        MathJax.typeset();
      }
    };

    // load comments for this page
    window.onload = function() {
      $.ajax({
        type: "GET",
        url: "{% url 'solutions-api:comment-list' %}?{{ element_type }}_pk={{ element.pk }}",
        success: function(data) {
          // paint them into div named "existing-comments"
          var receiver = $("#existing-comments");
          receiver.empty();
          for (let comment of data) {
            insert_comment(comment, receiver, false);
          }
          MathJax.typeset();
        }
      })
    };

    // Bring the reply box
    $("body").on("click", "span.reply-button", function() {
      // disable the reply button
      $(this).toggleClass("reply-button unreply-button");
      $(this).html('Unreply');
      // make the empty form
      var parent_id = $(this).parent().attr("id");
      var reply_box = '<div class="write-reply" id="reply-div-'+parent_id+'"><textarea id="reply-to-'+parent_id+'"></textarea><button class="comment-preview" id="preview-reply-to-'+parent_id+'">Preview</button><button class="comment-submit" id="submit-reply-to-'+parent_id+'">Submit</button><div name="preview-comment" id="reply-preview-to-'+parent_id+'"></div></div>';

      // insert it into the dom under the correct element
      $(reply_box).insertAfter($(this));
      // put cursor into the textarea
    });

    // Disappear the the reply box
    $("body").on("click", "span.unreply-button", function() {
      // re-activate the reply button
      $(this).toggleClass("reply-button unreply-button");
      $(this).html('Reply');
      // remove the reply box
      $(this).parent().find("div.write-reply").remove();
    });

    // Submit a comment/reply
    $("body").on("click", "button.comment-submit", function() {
      {% include "_csrftoken.html" %}
      // get the id of the thing to be replied to (comment or page object)
      var textarea_id = $(this).attr("id").replace(/submit-/, "");
      var replying_to = textarea_id.replace(/reply-to-/, "").split("-");
      var comment_types = {
        "comment": "in_response_to_pk",
        "concept": "concept_pk",
        "solution": "solution_pk"
      }

      var comment = $("textarea#" + textarea_id).val().trim();
      var post_data = {"comment": comment};
      post_data[comment_types[replying_to[0]]] = replying_to[1];

      // send the comment in
      $.ajax({
        type: "POST",
        url: "{% url 'solutions-api:comment-list' %}",
        data: post_data,
        beforeSend: function(request) {request.setRequestHeader('X-CSRFToken', csrftoken);},
        success: function (data) {
          // paint the created comment onto the screen
          if (replying_to[0] == 'comment') {
            var reply_button = $("div#comment-"+data.in_response_to_pk+" > .unreply-button");
            // restore the reply button
            reply_button.toggleClass("reply-button unreply-button");
            reply_button.html('Reply');
            var recipient = $("div#comment-"+data.in_response_to_pk+" > .replies");
            // remove the reply box
            $("div#reply-div-comment-" + data.in_response_to_pk).remove();
          } else {
            var recipient = $("#existing-comments");
            $("textarea#" + textarea_id).val("");
          }
          insert_comment(data, recipient, true);
        }
      });
    });

    // preview a comment/reply
    $("body").on("click", "button.comment-preview", function() {
      var textarea_id = $(this).attr("id").replace(/preview-/, "");
      var replying_to = textarea_id.replace(/reply-to-/, "").split("-");

      var raw = $("textarea#" + textarea_id).val().trim();
      var preprocessed = raw.replace(/\\([\(\[\)\]])/g, '\\\\$1');
      var comment = marked(preprocessed);
      $("#reply-preview-to-" + replying_to.join("-")).html(comment);
      MathJax.typeset();
    });

    // remove the starter text from the page comment box
    $("body").on("focus", ".initial-value", function() {
      $(this).val("");
      $(this).toggleClass("initial-value", false);
    });
  </script>
{% endblock %}