{% extends "site_base.html" %}

{% block head_title %}Contact{% endblock %}

{% block content %}
  <h1>Howdy!</h1>
  <p>You know the drill: fill in the details hit send. If you are interested in contributing to this site, or have a bug to report then please direct communication through the <a href="https://gitlab.com/tutorpaul/tutor-paul">Gitlab repo</a>. Please note, I'm not looking for <b>any</b> professional services related to this site, a cold-email from you isn't going to change that.</p>

  <form method="POST" action=".">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Send</button>
  </form>

{% endblock %}
