{% extends "site_base.html" %}

{% block head_title %}Welcome{% endblock %}

{% block content %}
  <h1>Howdy!</h1>
  <p>I hope you came here for some rootin-tootin dynamics and vibrations help, because that is 99.9% of what you'll find here. The remainder is my wit.</p>

  <p><a href="{% url 'solutions:textbooks' %}">Jump in by choosing your textbook (after logging in with a google account).</a> I haven't been able to cross-reference all the problems from the 10th edition to the 11th, so if you can't find a solution for a problem in the 11th edition, look for it in the 10th edition and leave a comment to indicate which problem it is the 11th edition!</p>

  <p>Or, if you're here to make a donation <a href="{% url 'donations:start' %}">then I'll leave you to it</a></p>

  <p>I hope you find this useful.</p>

  <h2>Twitch Stream</h2>

  <p>I had a lot of fun streaming homework help sessions and exam reviews last semester and I want to keep it going and expand! I want to continue a weekly stream for MEEN 364, and I want to start doing a periodic exam review stream for MEEN 363. <a href="https://www.twitch.tv/tutorpaul">Follow me (and sub!)</a> for my streams! <a href="{{ DISCORD_LINK }}">Join my discord</a> to suggest streams and help me stay current with your course.</p>

  <h2>About this site</h2>

  <p>This site is an active gift to all Mechanical Engineering students at Texas A&amp;M! I promise the content within is 100% ad-free and offered without fee. The google account you sign up with will be emailed a maximum of 1 time per year (though most likely never). I sell no data pertaining to this site whatsoever.</p>

  <p>I only ask that you <a href="{% url 'donations:start' %}">contribute</a>&mdash;if possible&mdash;to cover the operational expenses of the site. All said <a href="{% url 'donations:cost' %}">this site costs a little over $1300 per year</a>, the thermometer at the top of the page shows how close we are to meeting the $650 per semester goal.</p>

  <p>This is an <a href="https://gitlab.com/tutorpaul/tutor-paul">open source project</a> and contributions are welcome!</p>

  <p>If you find an error or omission in any content feel free to leave a comment. The comments support Mathjax so <a href="https://math.meta.stackexchange.com/questions/5020/mathjax-basic-tutorial-and-quick-reference">you can type math more beautifully</a>.</p>

{% endblock %}
