{% extends "site_base.html" %}

{% block head_title %}Logout{% endblock %}

{% block content %}
    <form method="POST" action="{% url 'account:logout' %}">
        <legend>Log out</legend>
        <div>
            {% csrf_token %}
            <p>You are logged in as {{ request.user.email }}. Are you sure you want to log out?</p>
            <p>If you are having a hard time signing in to the correct account try a private tab.</p>
            <button type="submit" class="red" name="logout-confirm">Log out</button>
        </div>
    </form>
{% endblock %}