<script type="text/javascript">
  // process comments here
  function insert_comment(comment_data, parent_element, do_mathjax) {
    var raw = comment_data.comment;
    var preprocessed = raw.replace(/\\([\(\[\)\]])/g, '\\\\$1');
    var comment = marked(preprocessed);
    var comment_date = new Date(comment_data.created).toLocaleString("en-US");
    // var commentor = comment_data.first_name + " " comment_data.last_name;
    var commentor = comment_data.user_name;
    var awaiting_review = "";
    if (comment_data.needs_review) {
      awaiting_review = '<span class="review">Awaiting Review</span> ';
    }
    var new_comment = '<div class="comment" id="comment-'+comment_data.pk+'"><p>'+comment+'</p>By <span class="author">'+commentor+'</span> at <span class="created">'+comment_date+'</span> '+awaiting_review+'&mdash; <span class="reply-button">Reply</span><div class="replies"></div></div>';
    parent_element.prepend(new_comment);
    for (let reply of comment_data.replies) {
      insert_comment(reply, $(parent_element).find("div#comment-"+comment_data.pk+" > .replies"), false);
    }
    if (do_mathjax) {
      MathJax.typeset();
    }
  };

  // load comments for this page
  window.onload = function() {
    $.ajax({
      type: "GET",
      url: "{% url 'solutions-api:comment-list' %}?{{ element_type }}_pk={{ element.pk }}",
      success: function(data) {
        // paint them into div named "existing-comments"
        var receiver = $("#existing-comments");
        receiver.empty();
        for (let comment of data) {
          insert_comment(comment, receiver, false);
        }
        MathJax.typeset();
      }
    })
  };

  // Bring the reply box
  $("body").on("click", "span.reply-button", function() {
    // disable the reply button
    $(this).toggleClass("reply-button unreply-button");
    $(this).html('Unreply');
    // make the empty form
    var parent_id = $(this).parent().attr("id");
    var reply_box = '<div class="write-comment write-reply" id="reply-div-'+parent_id+'"><div class="comment-proper"><textarea id="reply-to-'+parent_id+'" placeholder="Write your reply!"></textarea></div><div class="comment-control"><div class="preview-comment" name="preview-comment" id="reply-preview-to-'+parent_id+'"></div><button class="comment-preview" id="preview-reply-to-'+parent_id+'">Preview</button><button class="comment-submit" id="submit-reply-to-'+parent_id+'">Submit</button></div></div>';

    // insert it into the dom under the correct element
    $(reply_box).insertAfter($(this));
    // put cursor into the textarea
  });

  // Disappear the the reply box
  $("body").on("click", "span.unreply-button", function() {
    // re-activate the reply button
    $(this).toggleClass("reply-button unreply-button");
    $(this).html('Reply');
    // remove the reply box
    $(this).parent().find("div.write-reply").remove();
  });

  // Submit a comment/reply
  $("body").on("click", "button.comment-submit", function() {
    {% include "_csrftoken.html" %}
    // get the id of the thing to be replied to (comment or page object)
    var textarea_id = $(this).attr("id").replace(/submit-/, "");
    var replying_to = textarea_id.replace(/reply-to-/, "").split("-");
    var comment_types = {
      "comment": "in_response_to_pk",
      "concept": "concept_pk",
      "solution": "solution_pk"
    }

    var comment = $("textarea#" + textarea_id).val().trim();
    var post_data = {"comment": comment};
    post_data[comment_types[replying_to[0]]] = replying_to[1];

    // send the comment in
    $.ajax({
      type: "POST",
      url: "{% url 'solutions-api:comment-list' %}",
      data: post_data,
      beforeSend: function(request) {request.setRequestHeader('X-CSRFToken', csrftoken);},
      success: function (data) {
        // paint the created comment onto the screen
        if (replying_to[0] == 'comment') {
          var reply_button = $("div#comment-"+data.in_response_to_pk+" > .unreply-button");
          // restore the reply button
          reply_button.toggleClass("reply-button unreply-button");
          reply_button.html('Reply');
          var recipient = $("div#comment-"+data.in_response_to_pk+" > .replies");
          // remove the reply box
          $("div#reply-div-comment-" + data.in_response_to_pk).remove();
        } else {
          var recipient = $("#existing-comments");
          $("textarea#" + textarea_id).val("");
        }
        insert_comment(data, recipient, true);
      }
    });
  });

  // preview a comment/reply
  $("body").on("click", "button.comment-preview", function() {
    var textarea_id = $(this).attr("id").replace(/preview-/, "");
    var replying_to = textarea_id.replace(/reply-to-/, "").split("-");

    var raw = $("textarea#" + textarea_id).val().trim();
    var preprocessed = raw.replace(/\\([\(\[\)\]])/g, '\\\\$1');

    var preview_element = $("#reply-preview-to-" + replying_to.join("-"));
    var comment = marked(preprocessed);
    preview_element.html(comment);
    preview_element.css("display", "block");
    MathJax.typeset();
  });

  // remove the starter text from the page comment box
  $("body").on("focus", ".initial-value", function() {
    $(this).val("");
    $(this).toggleClass("initial-value", false);
  });
</script>