{% extends "site_base.html" %}

{% block head_title %}Concepts{% endblock %}

{% block content %}
  <ul>
    {% for object in object_list %}
      <li><a href="{% url 'solutions:concept' concept_slug=object.slug %}">{{ object }}</a></li>
    {% endfor %}
  </ul>
{% endblock %}
