{% extends "video_base.html" %}

{% block head_title %}Concept | {{ object.name }}{% endblock %}

{% block sidebar_main %}
  {{ block.super }}

  <div class="related-problems">
    {% if object.solutions %}
      <h2>Related Problems</h2>
      <ul>
        {% for solution in object.solutions.all %}
          <li><a href="{% url 'solutions:solution' solution_slug=solution.slug %}">{{ solution.name }}</a></li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>
{% endblock %}