{% extends "site_base.html" %}

{% block head_title %}Solutions{% endblock %}

{% block content %}
  <p><b>{{ textbook_edition }}</b></p>
  <ul>
    {% for object in object_list %}
      <li><a href="{% url 'solutions:solution' solution_slug=object.solution.slug %}">{{ object.chapter_number }}.{{ object.problem_number }}{% if object.method %} ({{ object.method }}){% endif %}</li>
    {% endfor %}
  </ul>
{% endblock %}
