{% extends "video_base.html" %}
{% load static %}

{% block head_title %}Solution | {{ object.name }}{% endblock %}
{% block body_class %}problem{% endblock %}

{% block subtitle %}<span>a.k.a {{ current.textbook_edition }} problem {{ current.chapter_number }}.{{ current.problem_number }}</span>{% endblock %}

{% block sidebar_main %}
  <div class="noteset">
    <h2>Noteset</h2>
    <a href="{% static 'TutorPaul-MEEN364_Notes-12.pdf' %}" download>Download 364 Notes</a>
  </div>
  <div class="related-concepts">
    {% if object.concepts %}
      <h2>Related Concepts</h2>
      <a class="view-list" href="{% url 'solutions:concepts' %}">See all</a>
      <ul>
        {% for concept in object.concepts.all %}
          <li><a href="{% url 'solutions:concept' concept_slug=concept.slug %}">{{ concept.name }}</a></li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>
  <div class="proximate-problems">
    <h2>Other Problems</h2>
    <a class="view-list" href="{% url 'solutions:problem_index' textbook_edition_slug=current.textbook_edition.slug %}">See all</a>
    <ul>
      {% if prior %}
        {% for prob in prior %}
          <li><a href="{% url 'solutions:solution' solution_slug=prob.solution.slug %}">{{ prob.chapter_number }}.{{ prob.problem_number }}</a></li>
        {% endfor %}
      {% endif %}
      <li>{{ current.chapter_number }}.{{ current.problem_number }}</li>
      {% if following %}
        {% for prob in following %}
          <li><a href="{% url 'solutions:solution' solution_slug=prob.solution.slug %}">{{ prob.chapter_number }}.{{ prob.problem_number }}</a></li>
        {% endfor %}
      {% endif %}
    </ul>
  </div>
{% endblock %}

{% block supplements %}
  <div class="supplements">
    {% if object.supplements.all %}
      <h2>Supplement{% if object.supplements.all|length > 1 %}s{% endif %}</h2>
      <div class="supplement-picker">
        <ul id="supplement-picker">
        {% if object.supplements.all|length > 1 %}
          {% for supplement in object.supplements.all %}
              <li id="{{ supplement.url }}"><a href="#">{{ supplement.name | title }}</a></li>
          {% endfor %}
        {% endif %}
        </ul>
      </div>
      <div class="worksheet" id="supplement-viewer">
        <img src="{{ object.supplements.all.0.url }}">
      </div>
    {% endif %}
  </div>
{% endblock %}


{% block page_scripts %}
  {{ block.super }}
  <script type="text/javascript">
    $("#supplement-picker li").click(function(event) {
      // put the image in the supplment-viewer
      $("#supplement-viewer img").attr("src", $(this).attr("id"));
      // make others unselected
      $("#supplement-picker li").each(function() {
        $(this).toggleClass("selected", false);
      });
      // make $(this) selected
      $(this).toggleClass("selected", true)
    });
  </script>
{% endblock %}
