{% extends "site_base.html" %}

{% block head_title %}Streams{% endblock %}

{% block content %}
  <p>Streams remain on Twitch for 14 days, where they can be viewed without restriction. Before they expire from Twitch streams will be archived here.</p>
  <p>Note that only people who have <a href="{% url 'donations:start' %}">donated at least $15</a> have access to past streams (anonymous donations still count!).</p>
  <ul>
    {% for object in object_list %}
      <li><a href="{% url 'solutions:stream' stream_slug=object.slug %}">{{ object.name }} &mdash; {{ object.created|date:"d M, Y" }}</li>
    {% empty %}
      <li>No streams yet for {{ course }}. Go to <a href="{{ DISCORD_LINK }}">the discord and make a request!</a></li>
    {% endfor %}
  </ul>
{% endblock %}
