{% extends "video_base.html" %}
{% load static %}

{% block head_title %}Stream | {{ object.name }}{% endblock %}
{% block body_class %}stream{% endblock %}

{% block subtitle %}<span>{{ current.name }}</span>{% endblock %}

{% block supplements %}
  <div class="supplements">
    {% if object.supplements.all %}
      <h2>Supplement{% if object.supplements.all|length > 1 %}s{% endif %}</h2>
      <div class="supplement-picker">
        <ul id="supplement-picker">
        {% if object.supplements.all|length > 1 %}
          {% for supplement in object.supplements.all %}
              <li id="{{ supplement.url }}"><a href="#">{{ supplement.name | title }}</a></li>
          {% endfor %}
        {% endif %}
        </ul>
      </div>
      <div class="worksheet" id="supplement-viewer">
        <img src="{{ object.supplements.all.0.url }}">
      </div>
    {% endif %}
  </div>
{% endblock %}


{% block page_scripts %}
  {{ block.super }}
  <script type="text/javascript">
    $("#supplement-picker li").click(function(event) {
      // put the image in the supplment-viewer
      $("#supplement-viewer img").attr("src", $(this).attr("id"));
      // make others unselected
      $("#supplement-picker li").each(function() {
        $(this).toggleClass("selected", false);
      });
      // make $(this) selected
      $(this).toggleClass("selected", true)
    });
  </script>
{% endblock %}
