{% extends "site_base.html" %}

{% block head_title %}Textbooks{% endblock %}

{% block content %}
  <ul>
    {% for object in object_list %}
      <li>{{ object.textbook.name }} &mdash; {{ object.textbook.author }}
        <ul>
          {% for edition in object.editions %}
            <li><a href="{% url 'solutions:problem_index' textbook_edition_slug=edition.slug %}">{{ edition.edition }} Edition</a></li>
          {% endfor %}
        </ul>
      </li>
    {% endfor %}
  </ul>
{% endblock %}
