{% extends "base.html" %}
{% load static %}

{% block page_styles %}
  <style type="text/css">
    .announcements {
      border: #000000 solid 1px;
      padding: 10px;
      background: #93F4A7;
      border-radius: 4px;
      display: block;
    }
  </style>
{% endblock %}

{% block content %}
  {% block announcements %}
    {% if announcements %}
      <div class="announcements">
        {% for announcement in announcements %}
          <span>{{ announcement.text|safe }}</span>
        {% endfor %}
      </div>
    {% endif %}
  {% endblock %}

  <h1>{{ element.name }}</h1>
  {% block subtitle %}
  {% endblock %}
  <div class="video">
    <video id="video-proper" width="472" height="270" poster="{{ element.opening_card_url }}" controls="controls" preload="none">
      <source src="{{ element.video_url }}" type="video/mp4" />
    </video>
    <div class="video-controls">
      <ul>
        <li><a id="video-control-small" href="#">small</a></li>
        <li><a id="video-control-medium" href="#">medium</a></li>
        <li><a id="video-control-large" href="#">large</a></li>
        <li><a id="video-control-slow" href="#">slow</a></li>
        <li><a id="video-control-regular" href="#">regular</a></li>
        <li><a id="video-control-fast" href="#">fast</a></li>
        <li><a id="video-control-omg" href="#">omg</a></li>
      </ul>
    </div>
  </div>
  {% block supplements %}
  {% endblock %}
  <div class="comments">
    <h2>Comments</h2>
    <div class="write-comment">
      <div class="comment-proper">
        <textarea name="comment" id="reply-to-{{ element_type }}-{{ element.pk }}" class="initial-value" placeholder="Enter your comment here!"></textarea>
      </div>
      <div class="comment-control">
        <div class="preview-comment" name="preview-comment" id="reply-preview-to-{{ element_type }}-{{ element.pk }}"></div>
        <button class="comment-preview" id="preview-reply-to-{{ element_type }}-{{ element.pk }}">Preview</button><button class="comment-submit" id="submit-reply-to-{{ element_type }}-{{ element.pk }}">Submit</button>
      </div>
    </div>
    <div id="existing-comments">
    </div>
  </div>
  <div style="display: none;">
  </div>
{% endblock %}

{% block license %}
  {% include "_license.html" %}
{% endblock %}

{% block scripts %}
  <script src="{% static 'polyfill.min.js' %}"></script>
  <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
  <script src="{% static 'marked.min.js' %}"></script>
{% endblock %}

{% block page_scripts %}
  {% include "_comments.html" %}
  {% include "_video_controls.html" %}
{% endblock %}
